<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hihib.fleaaflea">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarketInfoActvitiy" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ThemaPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".ReviewPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".InsertActivity" />
        <activity android:name=".MyinfoActivity"></activity>
        <activity android:name=".LotteTower.LotteTowerInfoActivity"></activity>
        <activity android:name=".Bazzar.BazzarInfoActivity"></activity>
        <activity android:name=".CityMarket.CityMarketInfoActivity"></activity>
        <activity android:name=".Yg.YgInfoActivity"></activity>
        <activity android:name=".Mom.MomInfoActivity"></activity>
        <activity android:name=".ChunHo.ChunHoInfoActivity"></activity>
        <activity android:name=".ChangDong.ChangDongInfoActivity"></activity>
    </application>

</manifest>